section.page__more-inform.more__inform
    img(src="@img/more-information/backer.svg", alt="Backer").more-inform__backer
    .more-inform__content 
        .more-inform__blocks 
            .more-inform__menu
                .more-inform__menu-item 
                    .more-inform__menu-title <span>1.</span>ingredients
                .more-inform__menu-item.item-active 
                    .more-inform__menu-title <span>2.</span>equipment
                .more-inform__menu-item 
                    .more-inform__menu-title <span>3.</span>service
            .more-inform__item 
                img(src="@img/more-information/equipment.svg", alt="Equipment")
                h3.item__title the only limit is your imagination
                p.item__description Try one of our pearl sugar recipe at the comfort of your home.<br> In the kitchen with waffle pantry. But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound.
                .detail_block
                    .detail__text-block
                        p.more__title LEARN MORE
                        img(src="@img/authentic/arrow.svg", alt="arrow")
                    .detail__circle 
        .more-inform__image 
            img(src="@img/more-information/background__image.svg", alt="Bg")