html(lang="en")
    head
        link(rel="stylesheet" href='css/style.min.css')

    body 
        .wrapper
            include html/header.pug
            include html/main.pug
        script(src='js/app.min.js')